:root {
  --background-color1: #282a36;
  --background-color2: #44475a;
  --buttonBgColor1: #50fa7b;
  --buttonBgColor2: #f1fa8c;
  --buttonBgColor3: #bd93f9;
  --buttonBgColor4: #ffb86c;
  --buttonBgColor5: #ff79c6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color1);
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

#logo {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

.left-panel {
  position: relative;
  width: 30%;
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-panel .add-button {
  position: absolute;
  top: 2%;
  left: 10%;
  border: 3px solid var(--buttonBgColor1);
  background-color: var(--background-color2);
  padding: 14px 7px;
  margin-top: auto;
  width: 120px;
  align-self: center;
}

.project-container {
  height: 80%;
  width: 80%;
  background-color: var(--background-color2);
  border: 5px solid var(--background-color1);
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  gap: 14px;
}

.project {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--buttonBgColor1);
  background-color: var(--background-color2);
  flex-shrink: 1;
}

.project.active {
  border-bottom: 4px solid #1df954;
}

.project .title {
  padding: 5px;
  overflow: hidden;
  flex-grow: 1;
}

.project .delete-button {
  height: 100%;
  min-width: 20%;
  border: none;
  border-left: 3px solid var(--buttonBgColor1);
  background-color: var(--background-color2);
}

.add-project-form .submit-button {
  height: 100%;
  min-width: 20%;
  border: none;
  border-left: 3px solid var(--buttonBgColor1);
  background-color: var(--background-color2);
}

.add-project-form input {
  background-color: var(--background-color2);
  display: block;
  outline: none;
  border: none;
  padding: 5px;
  flex-grow: 1;
  min-width: 0;
}

.add-project-form {
  display: none;
  border: 3px solid var(--buttonBgColor1);
}

.right-panel {
  width: 70%;
  position: relative;
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-container {
  height: 80%;
  width: 80%;
  overflow: hidden;
  background-color: var(--background-color2);
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  border: 5px solid var(--background-color1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.right-panel .add-button {
  position: absolute;
  top: 2%;
  left: 10%;
  padding: 14px 7px;
  width: 120px;
  border: 3px solid var(--buttonBgColor2);
  background-color: var(--background-color2);
}

.todo {
  display: flex;
  align-items: center;
  height: 40px;
}

.todo .checkbox {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid var(--buttonBgColor2);
  background-color: var(--background-color2);
}

.todo .checkbox.checked {
  border: 3px solid var(--buttonBgColor5);
  background-color: var(--buttonBgColor5);
}

.todo .button-container {
  flex-basis: 100px;
  margin-left: auto;
  height: 100%;
  display: flex;
  gap: 3px;
}

.todo .content {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  height: 100%;
  align-items: center;
  border: 3px solid var(--buttonBgColor2);
}

.todo .title {
  padding: 8px;
}

.todo .title.checked {
  text-decoration: line-through;
  text-decoration-color: var(--buttonBgColor5);
}

.content .button-container button {
  border-left: 3px solid var(--buttonBgColor2);
  background-color: var(--background-color2);
}

.button-container button {
  flex-grow: 1;
  border: none;
}

button:hover {
  cursor: pointer;
}

button {
  font-size: 1rem;
}

/* add-todo form styles */

.add-todo-form {
  height: 80%;
  width: 80%;
  display: none;
  flex-direction: column;
  padding: 20px 16px;
  gap: 10px;
  border: 5px solid #282a36;
}

.add-todo-form > div.input-container {
  display: flex;
  flex-direction: column;
}

.add-todo-form > div.input-container input,
textarea,
select {
  padding: 12px 6px;
  border: 3px solid var(--background-color1);
  background-color: var(--background-color2);
  outline: none;
  font-size: 1rem;
  flex-grow: 1;
  margin-top: 10px;
}

div.input-container.description {
  flex-grow: 2;
}

textarea#description {
  height: 100%;
}

.add-todo-form .button-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 50px;
  padding: 5px;
}

.add-todo-form .button-container > button {
  background-color: var(--background-color2);
  width: 120px;
  flex-grow: 0;
}

.add-todo-form .button-container .back-button {
  border: 3px solid var(--buttonBgColor4);
}

.add-todo-form .button-container .submit-button {
  border: 3px solid var(--buttonBgColor3);
}

.add-todo-form h1 {
  align-self: center;
}
